<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="et-arbitrage">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Arbitrage</h1>
            <p>Have disputes over multi-sig transactions settled.</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'et-arbitrage'
        });
    </script>
</dom-module>
