<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="skip-menu">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

      <h2>Create a key</h2>
      <ul>
          <li>We use hex encoded secp256k1 Elliptic Curve keys.</li>
          <li>The private keys are never sent to the server.</li>
      </ul>
      <div>
          <button onclick="loadNewDemoKey()">{{appage.create_key}}</button> or enter key below.
      </div>
      <div>
          Private key: <input type="text" id="p1Key" />
          Public key: <input type="text" id="p1PublicKey" />
      </div>

      <h2>Create a shared secret</h2>
      <ul>
          <li>This is a unique single use secret provided to FullDeck.</li>
          <li>This secret is used by FullDeck to encrypt the deck but is not stored by FullDeck.io.</li>
          <li>A different shared secret is used amongst the players to encrypt their P2P traffic.</li>
      </ul>
      <div>
          <button onclick="loadNewSecret()">{{appage.create_secret}}</button> or enter shared secret below.
      </div>
      <div>
          Shared Secret: <input type="text" id="sharedSecret" />
      </div>


      <h3>Get a Signed and Sealed FullDeck</h3>
      <ul>
          <li>This uses the public key from above.</li>
          <li>This encrypted deck that is wrapped in a final encryption layer for the players and signed by FullDeck.io</li>
          <li>You can check the signature using the FullDeck.io DEMO signing key.</li>
      </ul>
      <div>
          <button onclick="getFullDeck()">Get FullDeck</button>
      </div>
      <div id="demoFullDeck"></div>

      <h3>Decrypt the FullDeck</h3>
      <ul>
          <li>This uses the private key created above.</li>
          <li>This should provide the same format output as the Encrypted Deck above.</li>
      </ul>
      <div>
          <button onclick="decryptFullDeck()">Decrypt Deck</button>
      </div>
      <div id="decryptedFullDeck"></div>

      <h3>Decrypt the Player's secrets</h3>
      <ul>
          <li>There will be one secret for each card.</li>
          <li>The secret is split into pieces, one for each player.</li>
          <li>All players must combine their secret for a given card to be decrypted.</li>
      </ul>
      <div>
          <button onclick="decryptSecrets()">Decrypt Secrets</button>
      </div>
      <div id="decryptedSecrets"></div>

      <h3>Deal a Card from the encrypted deck</h3>
      <ul>
          <li>This uses the split-shared-secret part provided in the FullDeck.</li>
          <li>Multi-Player demos will be available to BETA Testers.</li>
      </ul>
      <div>
          <button onclick="decryptFullDeck()">Deal a card</button>
      </div>
      <div id="dealtCards"></div>

      <H2>Decks</h2>
      <ul>
          <li>You will get a 4 card deck, the J, Q, K, A of hearts.</li>
          <li>Access to full decks are available to registered BETA testers.</li>
      </ul>
      <h3>Get a Shuffled Deck</h3>
      <ul>
          <li>This deck is unencrypted and unsigned and is only meant to demonstrate how the deck is represented without encryption.</li>
      </ul>
      <div>
          <button onclick="getShuffledDeck()">Get Shuffled Deck</button>
      </div>
      <div id="demoShuffledDeck"></div>

      <h3>Get an Encrypted Deck</h3>
      <ul>
          <li>This uses the public key from above.</li>
          <li>This is not the same as the unencrypted deck created. All decks are freshly shuffled.</li>
      </ul>
      <div>
          <button onclick="getEncryptedDeck()">Get Encrypted Deck</button>
      </div>
      <div id="demoEncryptedDeck"></div>

      <h3>Get an Encrypted deck w/ secrets split and encrypted for each player</h3>
      <li>This uses the public key from above.</li>
      <li>This removes the secret from each key, splits it, combines all the players secret splits and encrypts that object.</li>
      </ul>
      <div>
          <button onclick="getSplitEncryptedDeck()">Get Split-Encrypted Deck</button>
      </div>
      <div id="demoSplitEncryptedDeck"></div>
  </template>

  <script>
    Polymer({
      is: 'skip-menu'
    });
  </script>
</dom-module>
