<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="iz-dibs">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Dibs</h1>
            <p>Take a picture, give it away. Let others have Dibs on taking it off your hands. Dib's content is available for display free on any web site.</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'iz-dibs'
        });
    </script>
</dom-module>
