<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="iz-iwitness">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Iwitness</h1>
            <p>Document an eyewitness account and have a record of it stored in the blockchain.</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'iz-iwitness'
        });
    </script>
</dom-module>
