<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="ar-join">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Join</h1>
            <p>Join {{site.name}} today!</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'ar-join'
        });
    </script>
</dom-module>
