<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="iz-love">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Love</h1>
            <p>Send love! Brighten someones day with flowers, chocolates and a heart felt video message from you. The world needs more love.</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'iz-love'
        });
    </script>
</dom-module>
