<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="et-sell">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Sell</h1>
            <p>Sell items. List items in eTowneMall for free. No fees for buyers or sellers.</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'et-sell'
        });
    </script>
</dom-module>
