<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="iz-story">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Story</h1>
            <p>Use audio, video, images and text to tell a story.</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'iz-story'
        });
    </script>
</dom-module>
