<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="iz-ticket">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>Ticket</h1>
            <p>Quickly create a new ticket in your favorite task or issue tracking system. Currently only Jira is supported so we hope that's your favorite. Others will be developed based on customer interest and bounties.</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'iz-ticket'
        });
    </script>
</dom-module>
