<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="fd-home">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <div class="card">
            <h1>FullDeck.io</h1>
            <p>Welcome</p>
        </div>
    </template>

    <script>
        Polymer({
            is: 'fd-home'
        });
    </script>
</dom-module>
