<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/component/style/shared-styles">

<dom-module id="ar-home">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>
            <div class="card">
                <iframe src="https://player.vimeo.com/video/182006505?color=ff3700&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/182006505">FullDeck.io - Introduction</a>.</p>
                <p>Contact <a href="mailto:startup@fulldeck.io">startup@fulldeck.io</a> with any questions.</p>
           </div>
    </template>

    <script>
        Polymer({
            is: 'ar-home'
        });
    </script>
</dom-module>
